<ion-header>
  <ion-toolbar color ="primary">
    <ion-title>tab-two</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="loadContacts()" expand="full">Load Contacts</ion-button>
  <ion-button (click)="createContact()" expand="full">Create Contacts</ion-button>

  <ion-list>
    <ion-item-sliding *ngFor="let c of myContacts">
      
      <ion-item>
        <ion-label>
          {{c.name.givenName}} <b>{{c.name.familyName}}</b>
          <p>
            {{c.phoneNumbers[0].value}}
          </p>
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option (click)="call(c)" color="primary"> 
          <ion-icon name="call" slot="icon-only"></ion-icon>
        </ion-item-option>
        <ion-item-option (click)="sendSms(c)" color="info"> 
          <ion-icon name="mail" slot="icon-only"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>




  <ion-button (click)="payWithRazorpay()">
    Pay With Razorpay
  </ion-button>


  <!-- <ion-card class="welcome-card">
      <ion-card-title> QR Code </ion-card-title>
    <ion-button expand='block' margin (click)="scannQeCode()">Click to scan a barcode</ion-button>
  </ion-card>
<p>{{scannData}}</p> -->

<div class="ion-padding">
  <ion-button (click)="scannQeCode()" expand="full">qrscanner</ion-button>
  <p *ngIf="qrText">{{ qrText }}</p>

  <p> Dist :- {{qrText._dist}}</p>
  <p> DOB :- {{qrText._dob}}</p>
  <p> Gender :- {{qrText._gender}}</p>
  <p> Gname :- {{qrText._gname}}</p>
  <p> Name :- {{qrText._name}}</p>
  <p> PIN :- {{qrText._pc}}</p>
  <p> PO :- {{qrText._po}}</p>
  <p> State :- {{qrText._state}}</p>
  <p> Subdist :- {{qrText._subdist}}</p>
  <p> _uid :- {{qrText._uid}}</p>
  <p> _vtc :- {{qrText._vtc}}</p>
  <p> _yob :- {{qrText._yob}}</p>

</div>
   
<ion-button (click) = "manage()">click</ion-button>
</ion-content>
