img {
    border: 1px solid burlywood;
    border-radius: 25px;
}

ion-card-content {
    padding: 0px;
}

ion-card-header {
    padding-top: 10px;
    padding-left: 1px;
    padding-right: 1px
}

ion-card-title {
    font-size: 15px;
    font-weight: bold;
    color: brown;
    text-shadow: 1px 1px 0px black;
}

ion-button {
    font-size: 10px;
    padding: 1px;
    margin: 1px;
}
ion-col{
    padding: 0px;
}

