<ion-header>
  <ion-toolbar>
    <ion-title>tab-one</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>

      <ion-col>
        <ion-card routerLink="/show-products">
          <ion-icon name="bag-handle-outline" size="large" color="tertiary"></ion-icon><br>
          <strong>Products</strong>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card routerLink="/show-orders">
          <ion-icon name="reader-outline" size="large" color="tertiary"></ion-icon><br>
          <strong> Get Orders</strong>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-icon name="logo-usd" size="large" color="tertiary"></ion-icon><br>
        <strong>Borrow</strong>
      </ion-card>
    </ion-col>

  

    <ion-col>
      <ion-card>
        <ion-icon name="logo-usd" size="large" color="tertiary"></ion-icon><br>
        <strong>Sim Swap</strong>
      </ion-card>
    </ion-col>

  </ion-row>
</ion-grid>

  </ion-content>
