.choseCamera {
    font-size: 40px;
    margin-right: 15px
}
.selectCamera {
    font-size: 35px;
    margin-right: 15px
}

.uploads{
    font-size: 30px;
    margin-left: 15px

}

.imageClasss{
    margin-left: 10px;
    border-radius: 25px;
    border: 1px solid blue;
}