<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Orders</ion-title>
  </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingIcon="chevron-down-circle-outline"
        pullingText="Pull to refresh"
        refreshingSpinner="circles">
      </ion-refresher-content>
    </ion-refresher>
    
      <!-- fab placed to the (vertical) center and end -->
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button routerLink="/add-order">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>

        <ion-grid >
          <ion-row *ngFor="let eachData of alldata;let i = index">
            <ion-card *ngFor="let data of eachData;let j = index">
              <ion-col (click)="orderHistory(data.order_history)">
                <strong class="orderTypeTxt">{{data.order_type}}</strong> {{data.order_history.length}}
              </ion-col>
            </ion-card>
          </ion-row>
        </ion-grid>
      <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="Loading...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
      
  </ion-content>
  