.icon {
    color: red;
    font-size: 25px;
    margin-left: 35vw;
}

.smallText {
    padding: 1px;
    font-size: 12px;
}

.image {
    margin-top: 5vw;
}

.fontText {   
     text-align: center;
    font-size: 15px;
    color: brown;
}

ion-button {
    font-size: 10px;
}